@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@500&family=Open+Sans:wght@400;700&display=swap');




$c0: rgba(0, 0, 0, 0);
$cVan: #FAEEDE;
$cBr: #766545;


@mixin fcenter () {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin fcolumn () {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin background () {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin input-animate () {
    &:hover {
        border: 1px solid $cg;
    }

    &:focus {
        outline: none;
        border: 2px solid #000;
    }
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    color: #fff;

    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #fff;
    display: inline-block;

    transition: all .2s .1s;
    cursor: pointer;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
}

p, h1, h2, h3, h4 {
    margin: 0;
}

.container {
    width: 85%;
    max-width: 1800px;
}

.welcome {
    height: 100vh;
    min-height: 840px;

    background-image: url(img/backgrounds/fish.jpg);
    @include background ();

    display: grid;
    grid-template: "header" 100px "calendar" 100px "content" 1fr "social" 100px / 1fr;
}

// @media (min-height: 840px) {
//     .welcome {
//         height: 100vh;
//     }
// }

@media (min-width: 1020px) {
    .welcome {
        grid-template: "header header header" 100px "calendar content social" 1fr / 1fr 2fr 1fr;
    }
}

.header {
    box-sizing: border-box;

    grid-area: header;
    
    display: flex;
    justify-content: center;
}

.header__container {
    display: grid;
    grid-template: "logo left right" 1fr / 140px 1fr 1fr;
    grid-gap: 0;
}

@media (min-width: 380px) {
    .header__container {
        grid-template: "logo left right" 1fr / 170px 1fr 1fr;
    }
}

@media (min-width: 1020px) {
    .header__container {
        grid-template: "left logo right" 1fr / 1fr 150px 1fr;
        grid-gap: 0 30px;
    }
}

.header__nav {
    @include fcenter();

    .welcome__btn {
        display: inline-block;
    }
}

@media (min-width: 765px) {
    .header__nav {
        display: flex;
        align-items: center;
        justify-content: space-around;

        .welcome__btn {
            display: none;
        }
    }
}

.nav-burger {
    position: relative;

    .welcome__btn {
        transition: all 0s 0s;
    }

    &:hover {
        .nav-burger__item {
            display: flex;
        }

        .welcome__btn {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}

.nav-burger__item {
    z-index: 1;

    box-sizing: border-box;
    width: 100%;
    height: 200px;

    position: absolute;
    top: 100%;
    left: 0;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;


    border: 1px solid $cw;
    background-color: $cy;

    .header__btn {
        display: inline-block;

        &::before {
            content: "";
            background-color: #fff;
        }
    }

}

.header__nav--left {
    grid-area: left;

    border-bottom: 1px solid $cw;
}

.header__nav--right {
    grid-area: right;

    border-bottom: 1px solid $cw;
}

.logo {
    grid-area: logo;
    position: relative;
}

.logo-icon {
    width: 130px;
    height: 130px;

    position: absolute;
    left: 0;
    top: 10px;
}

@media (min-width: 380px) {
    .logo-icon {
        width: 150px;
        height: 150px;
    }
}





.header__btn {
    display: none;

    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #fff;

    position: relative;

    &::before {
        content: "";
        width: 0;
        height: 2px;

        position: absolute;
        bottom: 0;
        right: 0;

        background-color: $cy;

        transition: all .3s .1s;
    }

    &:hover {
        &::before {
            left: 0;
            width: 100%;
        }
    }

    &:active {
        color: $cy;
    }
}

@media (min-width: 765px) {
    .header__btn {
        display: inline-block;
    }
}

@media (min-width: 1020px) {
    .header__btn {
        font-size: 14px;
    }
}

.burger {
    display: inline-block;

    @include fcolumn();
    justify-content: center;
        
    height: 40px;
    width: 40px;
    border-radius: 50%;
        
    background-color: #fff;
    opacity: 1;
}

@media (min-width: 765px) {
    .burger {
        display: none;
    }
}

.burger__line {
    height: 2px;
    width: 20px;
    border-radius: 30px;

    background-color: #000;

    margin-bottom: 5px;
    
    &:last-child {
        margin-bottom: 0;
    }
}

.calendar {
    box-sizing: border-box;

    grid-area: calendar;
    
    @include fcenter ();
    align-items: flex-end;

    border-right: 0 solid $cw;
}

@media (min-width: 1020px) {
    .calendar {
        @include fcenter ();
        border-right: 1px solid $cw;
    }
}

.calendar__item {
    transform: rotate(0deg);

    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
}

@media (min-width: 1020px) {
    .calendar__item {
        transform: rotate(-90deg);
    }
}

.welcome__content {
    box-sizing: border-box;

    grid-area: content;

    @include fcolumn ();
    justify-content: center;
}

.welcome__underheading {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.welcome__heading {
    text-transform: uppercase;
    font-size: 60px;
    font-family: 'Arima Madurai', cursive;
    text-align: center;
}

@media (min-width: 1460px) {
    .welcome__heading {
        font-size: 96px;
    }
}

.line {
    width: 60px;
    height: 5px;
    border-radius: 30px;

    margin: 0 auto;
    margin-bottom: 30px;

    background-color: $cy;
}

.welcome__nav {
    width: 300px;

    display: flex;
    justify-content: space-between;
}

@media (min-width: 365px) {
    .welcome__nav {
        width: 320px;
    }
}

@media (min-width: 380px) {
    .welcome__nav {
        width: 350px;
    }
}

.welcome__btn {
    display: inline-block;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;

    box-sizing: border-box;
    padding: 15px 0;

    border-radius: 5px;
    width: 140px;

    transition: all .3s .1s;
}

@media (min-width: 365px) {
    .welcome__btn {
        width: 150px;
    }
}

@media (min-width: 1460px) {
    .welcome__nav {
        width: 450px;
    }

    .welcome__btn {
        font-size: 16px;
        line-height: 20px;
        padding: 20px 0;
        width: 200px;
    }
}

.welcome__btn--fill {
    background-color: $cy;
    border: 1px solid $cy;

    &:hover { 
        background-color: $c0;
        border: 1px solid $cw;
        color: $cy;
    }

    &:active {
        color: $cg;
    }
}



.welcome__btn--opacity {
    border: 1px solid $cw;

    &:hover {
        background-color: $cw;
    }

    &:active {
        background-color: $c0;
        color: $cg;
    }
}



.next-btn-wraper {
    margin-top: 100px;
    padding: 10px;

    border-radius: 50%;
    border: 1px solid $cw;
}

@media (min-width: 1460px) {
    .next-btn-wraper {
        margin-top: 200px;
    }
}

.next-btn {
    padding: 15px;

    border-radius: 50%;

    @include fcenter ();

    background-color: #fff;

    transition: all .2s .1s;

    &:hover {
        .down-icon {
            fill: $cy;
        }
    }

    &:active {
        background-color: $c0;
    }
}

.down-icon {
    width: 18px;
    height: 18px;

    border-radius: 50%;
}



.social-nav {
    box-sizing: border-box;

    grid-area: social;

    border-left: 0 solid $cw;
    border-top: 1px solid $cw;

    @include fcenter();
}

@media (min-width: 1020px) {
    .social-nav {
        border-left: 1px solid $cw;
        border-top: 0 solid $cw;
        @include fcolumn ();
        justify-content: center;
    }
}

.social-nav__btn {
    box-sizing: border-box;
    height: 50px;
    width: 50px;

    @include fcenter ();

    border-radius: 50%;
    border: 1px solid $cw;

    margin-bottom: 0;
    margin-right: 20px;

    transition: all .2s .1s;

    &:hover {
        .social-icon {
            fill: $cy;
        }
    }

    &:active {
        border: 1px solid $cy;
    }
}

@media (min-width: 1020px) {
    .social-nav__btn {
        margin-bottom: 20px;
        margin-right: 0;
    }
}

.social-nav__btn:last-child {
    margin-bottom: 0;
    margin-right: 0;
}

.social-icon {
    fill: #fff;
    width: 20px;
    height: 20px;
}

@media (min-width: 1460px) {
    .social-nav__btn {
        height: 60px;
        width: 60px;
    }
    
    .social-icon {
        width: 25px;
        height: 25px;
    }
}


.section {
    height: 120vh;
    min-height: 900px;

    @include fcenter ();

}

.section-white {
    color: #000;
    background-color: #fff;
}



.main__container {
    box-sizing: border-box;
    @include fcolumn();

    padding-right: 0;
}

@media (min-width: 1150px) {
    .section {
        height: 80vh;
    }

    .main__container {
        flex-direction: row;
        @include fcenter ();
        justify-content: space-between;
        padding-right: 125px;
    }
}

.main__container--reverse {
    padding-right: 0;
    padding-left: 0;
}

@media (min-width: 1150px) {
    .main__container--reverse {
        padding-right: 0;
        padding-left: 125px;
    }
}

.main__container--clear {
    padding: 0;
}

.article {
    max-width: 300px;
    margin-bottom: 70px;
}

@media (min-width: 374px) {
    .article {
        margin-bottom: 100px;
    }
}

@media (min-width: 540px) {
    .article {
        max-width: 450px;
    }
}

@media (min-width: 765px) {
    .article {
        max-width: 600px;
    }
}

@media (min-width: 1150px) {
    .article {
        max-width: 450px;
        margin-bottom: 0;
    }
}

@media (min-width: 1440px) {
    .article {
        max-width: 600px;
    }
}

.article__header {
    margin-bottom: 30px;
}

.title {
    text-transform: uppercase;
    font-family: 'Arima Madurai', cursive;
    font-size: 30px;
    line-height: 48px;
    text-align: center;
}

.undertitle {
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    padding: 0 7px;
}

.article__text {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

@media (min-width: 540px) {
    .title {
        font-size: 39px;
    }
    
    .undertitle {
        font-size: 21px;
    }
    
    .article__text {
        font-size: 16px;
    }
}

.image-card {
    @include background ();

    width: 240px;
    height: 240px;

    border-radius: 5px;

    box-shadow: 8px -10px 30px 13px rgba(0, 0, 0, 0.2);

    position: relative;
}

.border {
    box-sizing: border-box;
    height: 100px;
    width: 100px;

    border: 10px solid $cy;
    border-radius: 5px;
    box-shadow: 5px 6px 30px 10px rgba(0, 0, 0, 0.2);

    position: absolute;
    top: 27%;
    right: -15%;
}

.border--reverse {
    left: -15%;
}

@media (min-width: 374px) {
    .image-card {
        width: 270px;
        height: 270px;
    }
}

@media (min-width: 540px) {
    .image-card {
        width: 350px;
        height: 350px;
    }
    
    .border {
        height: 150px;
        width: 150px;

        top: 25%;
        right: -20%;

        border: 15px solid $cy;
    }

    .border--reverse {
        left: -20%;
    }
}

@media (min-width: 765px) {
    .image-card {
        width: 475px;
        height: 475px;
    }
    
    .border {
        height: 250px;
        width: 250px;

        right: -25%;

        border: 20px solid $cy;
    }

    .border--reverse {
        left: -25%;
    }
}

@media (min-width: 1150px) {
    .image-card {
        width: 350px;
        height: 350px;
    }
    
    .border {
        height: 150px;
        width: 150px;

        border: 15px solid $cy;
    }
}

@media (min-width: 1440px) {
    .image-card {
        width: 475px;
        height: 475px;
    }
    
    .border {
        height: 250px;
        width: 250px;

        border: 20px solid $cy;
    }
}

.section-img {
    @include background ();

    @include fcolumn ();
    justify-content: space-around;

    .article {
        margin-bottom: 0;
    }

    .image-card {
        margin-bottom: 70px;
    }
    
}

@media (min-width: 374px) {
    .section-img {
        .image-card {
            margin-bottom: 100px;
        }
    }
}

@media (min-width: 1150px) {
    .section-img {
        .image-card {
            margin-bottom: 0;
        }
    }
}

.section__heading {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
}


.booking {
    width: 270px;
    margin-bottom: 70px;

}


@media (min-width: 374px) {
    .booking {
        width: 350px;
        margin-bottom: 100px;
    }
}

@media (min-width: 540px) {
    .booking {
        width: 450px;
    }
}

@media (min-width: 650px) {
    .booking {
        width: 600px;
    }
}

@media (min-width: 1150px) {
    .booking {
        width: 450px;
        margin-bottom: 70px;
    }
}

@media (min-width: 1150px) {
    .booking {
        margin-bottom: 0;
    
    }
}

@media (min-width: 1440px) {
    .booking {
        width: 600px;
    }
}

.booking-form {
    width: 100%;
    height: 350px;

    display: grid;
    grid-template: "text" 1fr "email" 1fr "tel" 1fr "peop" 1fr "date" 1fr "time" 1fr "btn" 1fr / 1fr;
    grid-gap: 5px;
}

@media (min-width: 540px) {
    .booking-form {
        height: 270px;
        grid-template: "text email" 1fr "tel peop" 1fr "date time" 1fr "btn btn" 1fr / 1fr 1fr;
        grid-gap: 10px;
    }
}


.section__calendar {
    color: $cg;
    font-size: 14px;
    text-align: center;
    padding: 0 10px;
}

@media (min-width: 374px) {
    .section__calendar {
        font-size: 16px;
    }
}

.section-white--more {
    @include fcolumn();
    justify-content: space-around;
}

.slider {
    width: 100vw;
    height: 120vh;
    min-height: 930px;

    overflow: hidden;

    position: relative;
    
}



.slider__line {
    width: 300vw;

    position: absolute;
    left: 0;

    transition: all 2s;

    display: flex;
}

.slide {
    width: 100vw;
    height: 120vh;
    min-height: 930px;

}

@media (min-width: 1150px) {
    .slider {
        height: 80vh;
    }

    .slide {
        height: 80vh;
    }
}

.slider__nav {
    width: 100%;

    display: flex;
    justify-content: center;

    position: absolute;
    bottom: 20px;
}

.btn-dote {
    width: 15px;
    height: 15px;
    margin-right: 10px;

    border-radius: 50%;

    background-color: $cw;

    transition: all .2s .1s;

    cursor: pointer;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        background-color: #fff;
    }
}


.active {
    background-color: #fff;
}

.section-menu {
    height: 210vh;
    min-height: 1800px;

    @include fcenter();

    .title {
        font-size: 32px;
    }

    .undertitle {
        font-size: 16px;
    }
}

@media (min-width: 380px) {
    .section-menu {
        height: 200vh;
    }
}

@media (min-width: 510px) {
    .section-menu {
        height: 150vh;
        min-height: 840px;
    }
}

@media (min-width: 650px) {
    .section-menu {
        height: 120vh;
    }
}

@media (min-width: 900px) {
    .section-menu {
        .title {
            font-size: 39px;
        }

        .undertitle {
            font-size: 21px;
        }
    }
}

@media (min-width: 1360px) {
    .section-menu {
        height: 100vh;
    }
}

.section-menu__container {
    @include fcolumn();
    justify-content: center;
}

.desc {
    color: #000;
    max-width: 600px;
    margin-bottom: 50px;
}

.menu-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    max-width: 370px;
    margin-bottom: 50px;
}

@media (min-width: 570px) {
    .menu-nav {
        display: flex;
        flex-wrap: nowrap;

        max-width: 100%;
    }
}

.menu-nav__btn {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #000;

    padding: 5px 10px;
    
    border-right: 1px solid rgba(51, 51, 51, .3);

    &:last-child {
        border-right: none;
    }

    &:hover {
        color: $cy;
    }
}

@media (min-width: 370px) {
    .section-menu {
        padding: 10px 20px;
    }
}

@media (min-width: 765px) {
    .menu-nav__btn {
        font-size: 14px;
        padding: 15px 30px;
    }
}

@media (min-width: 900px) {
    .menu-nav__btn {
        padding: 20px 40px;
    }
}

.menu {
    width: 100%;
    height: 1400px;

    display: grid;
    grid-template: repeat(21, 1fr) / 1fr;
    grid-gap: 0 7px;
}

@media (min-width: 510px) {
    .menu {
        height: 700px;
    
        display: grid;
        grid-template: repeat(11, 1fr) / repeat(2, 1fr);
    }
}

@media (min-width: 1360px) {
    .menu {
        height: 465px;
    
        display: grid;
        grid-template: repeat(7, 1fr) / repeat(3, 1fr);
    
    }
}

.menu__item {
    display: flex;
    justify-self: center;

    color: #000;
}

.menu__title {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    font-family: 'Arima Madurai', cursive;
}

.menu__undertitle {
    
    font-size: 12px;
    line-height: 18px;
    color: $cg;
    font-weight: 700;
}

.menu__cost {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    font-family: 'Arima Madurai', cursive;
    font-weight: 700;
}

@media (min-width: 900px) {
    .menu__title {
        font-size: 18px;
    }
    
    .menu__undertitle {
        font-size: 12px;
    }
    
    .menu__cost {
    
        font-size: 18px;
    }
}

.hide {
    display: none;
}

.chosed {
    transition: all 1s;
    background-color: $cy;
    &:hover {
        color: #000;
    }
}

.main__container--double {
    padding: 0 125px;
}


.event-card {
    height: 475px;
    display: flex;
}


.event-card__name {
    background-color: #000;
    height: 475px;
    width: 80px;
}

.event-card__text {
    font-family: 'Arima Madurai', cursive;
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    line-height: 12px;
    writing-mode: tb-rl ;

    box-sizing: border-box;
    height: 100%;
    width: 80px;

   background-color: #000;

   padding: 20px 35px;

}

.event-card__text--reverse {
    transform: rotate(180deg);
}

.main__container--double {
    .image-card {
        height: 190px;
        width: 190px;

        margin-bottom: 0;
    }

    .event-card {
        height: 250px;
        display: inline-block;

        margin-bottom: 100px;

        &:last-child {
            margin-bottom: 0;
        }
    }


    .event-card__text {
        width: 100%;
        height: 60px;

        font-size: 14px;

        writing-mode: lr-tb;
    }

    .event-card__text--reverse {
        transform: rotate(0);
    }

    .border {
        height: 100px;
        width: 100px;
        border: 10px solid $cy;

        top: 20%;
        right: -25%;
    }

    .border--reverse {
        left: -25%;
    }
}

@media (min-width: 374px) {
    .main__container--double {
        .image-card {
            height: 200px;
            width: 200px;
        }
    
        .event-card {
            height: 200px;
            display: flex;
    
            margin-bottom: 50px;
    
            &:last-child {
                margin-bottom: 0;
            }
        }
    
        .event-card__name {
            background-color: #000;
            height: 200px;
            width: 40px;
        }
    
        .event-card__text {
            width: 40px;
            height: 100%;

            font-size: 16px;

            writing-mode: tb-rl ;
        }

        .event-card__text--reverse {
            transform: rotate(180deg);
        }
    
        .border {
            height: 100px;
            width: 100px;
            border: 10px solid $cy;
    
            top: 20%;
            right: -20%;
        }
    
        .border--reverse {
            left: -20%;
        }
    }
}

@media (min-width: 540px) {
    .main__container--double {
        .image-card {
            height: 250px;
            width: 250px;
        }
    
        .event-card {
            height: 250px;
            display: flex;
        }
    
        .event-card__name {
            background-color: #000;
            height: 250px;
            width: 60px;
        }
    
        .event-card__text {
            width: 60px;
            font-size: 18px;
        }
    
        .border {
            height: 150px;
            width: 150px;
            border: 15px solid $cy;
    
            top: 20%;
            right: -25%;
        }
    
        .border--reverse {
            left: -25%;
        }
    }
}

@media (min-width: 765px) {
    .main__container--double {
        .image-card {
            height: 350px;
            width: 350px;
        }
    
        .event-card {
            height: 350px;
        }
    
        .event-card__name {
            height: 350px;
            width: 60px;
        }
    
        .event-card__text {
            font-size: 21px;
            width: 60px;
        }
    
        .border {
            height: 200px;
            width: 200px;
            border: 20px solid $cy;

            top: 25%;
        }
    }
}

@media (min-width: 1150px) {
    .main__container--double {
        .image-card {
            height: 270px;
            width: 270px;
        }
    
        .event-card {
            height: 270px;

            margin-bottom: 0;
    
            &:last-child {
                margin-bottom: 0;
            }
        }
    
        .event-card__name {
            height: 270px;
            width: 60px;
        }
    
        .event-card__text {
            font-size: 21px;
            width: 60px;
        }
    
        .border {
            height: 150px;
            width: 150px;
            border: 15px solid $cy;

            top: 25%;
        }
    }
}


@media (min-width: 1360px) {
    .main__container--double {
        .image-card {
            height: 350px;
            width: 350px;
        }
    
        .event-card {
            height: 350px;
        }
    
        .event-card__name {
            height: 350px;
            width: 60px;
        }
    
        .event-card__text {
            font-size: 21px;
            width: 60px;
        }
    
        .border {
            height: 200px;
            width: 200px;
            border: 20px solid $cy;

            top: 25%;
        }
    }
}


@media (min-width: 1640px) {
    .main__container--double {
        .image-card {
            height: 475px;
            width: 475px;
        }

        .event-card {
            height: 475px;
            display: flex;
        }

        .event-card__name {
            background-color: #000;
            height: 475px;
            width: 80px;
        }

        .event-card__text {
            width: 80px;
        }

        .border {
            height: 250px;
            width: 250px;
            border: 25px solid $cy;
        }
    }
}




.grid {
    height: 600px;
    width: 100%;

    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr;
}

@media (min-width: 424px) {
    .grid {
        height: 400px;
        grid-template: 1fr 1fr / 1fr 1fr;
    }
}

@media (min-width: 540px) {
    .grid {
        height: 550px;
    }
}

@media (min-width: 1020px) {
    .grid {
        height: 290px;
        grid-template: 1fr / 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1150px) {
    .grid {
        height: 330px;
        grid-template: 1fr / 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1360px) {
    .grid {
        height: 390px;
        grid-template: 1fr / 1fr 1fr 1fr 1fr;
    }
}


.grid__item {
    @include background();
}

.section-white--column {
    @include fcolumn();
    justify-content: center;

    
}

.contact-form {
    width: 100%;
    height: 500px;

    display: grid;
    grid-template: "text" 1fr "email" 1fr "tel" 1fr 
    "mes" 1fr 
    "mes" 1fr 
    "cont" 1fr
    "btn" 1fr / 1fr;
    grid-gap: 5px;
}


.input {
    font-size: 16px;
    line-height: 24px;

    background-color: #E5E5E5;

    box-sizing: border-box;
    border: none;
    border-radius: 5px;

    padding-left: 20px;
    margin: 0;

    @include input-animate ();
}



.input-text {
    grid-area: text;
}

.input-email {
    grid-area: email;
}

.input-phone {
    grid-area: tel;
}

.input-people {
    grid-area: peop;
}

.input-date {
    grid-area: date;
}

.input-time {
    grid-area: time;
}

.contact-area {
    grid-area: cont;

    display: flex;
    align-items: center;
}

.contact-area__item {
    color: $cg;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;

    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

@media (min-width: 424px) {
    .contact-form {
        height: 300px;
    
        display: grid;
        grid-template: "text text email email tel tel" 1fr 
        "mes mes mes mes mes mes" 1fr 
        "mes mes mes mes mes mes" 1fr 
        "cont cont cont cont cont cont" 1fr
        " btn btn btn btn btn btn" 1fr / 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    

    .contact-area__item {
        font-size: 11px;
    }
}

@media (min-width: 540px) {
    .contact-area__item {
        font-size: 14px;
    }
}

@media (min-width: 765px) {
    .contact-form {
        width: 100%;
        height: 260px;
    
        display: grid;
        grid-template: "text text email email tel tel" 1fr 
        "mes mes mes mes mes mes" 1fr 
        "mes mes mes mes mes mes" 1fr 
        "cont cont cont btn btn btn" 1fr / 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
    }
    

    .contact-area__item {
        font-size: 11px;
    }
}

@media (min-width: 1150px) {
    .contact-form {
        grid-gap: 10px;
    }
    

    .contact-area__item {
        font-size: 14px;
    }
}

.contact-area__icon {
    width: 20px;
    color: $cy;
    font-size: 12px;
}

@media (min-width: 540px) {
    .contact-area__icon {
        width: 25px;
        font-size: 16px;
    }
}

@media (min-width: 765px) {
    .contact-area__icon {
        width: 20px;
        font-size: 12px;
    }
}

@media (min-width: 1150px) {
    .contact-area__icon {
        width: 25px;
        font-size: 18px;
    }
}

.btn-area {
    grid-area: btn;

    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $cy;

    border: 1px solid $cy;
    border-radius: 5px;


    cursor: pointer;

    &:hover { 
        background-color: $c0;

        .submit-btn {
            color: $cy;
        }
    }

    &:active {
        border: 1px solid $cg;

        .submit-btn {
            color: $cg;
        }
    }
}

.submit-btn {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;

}

.input-messege {
    grid-area: mes;
}

.map {
    height: 65vh;
    width: 100vw;
}

.footer {
    height: 100px;

    background-color: #000;

    @include fcenter();

    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    color: $cg;
}